.ej_1{
    box-sizing: border-box;
    width: 90vw;
    height: 10vh;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    font-family: 'Open Sans', sans-serif;

    svg{
        height: 60%;
        width: auto;
    }

    ul{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        li{
            display: inline-block;
            padding-left: 5%;
        }
    }

}